body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

header {
    background-color: #079ce1;
    color: white;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
}

.card {
    perspective: 1000px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
}

.card-inner {
    position: relative;
    width: 100%;
    padding: 1rem;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: white;
}

.card-back {
    background-color: white;
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-actions {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}

.card-actions button {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-actions .fav-btn {
    background-color: #280a82;
    color: white;
    border: none;
}

.card-actions .fav-btn:hover {
    background-color: #755fe1;
}

.card-actions .remove-btn {
    background-color: #e91e63;
    color: white;
    border: none;
}

.card-actions .remove-btn:hover {
    background-color: #ff5e81;
}

.card-back.expanded {
    max-height: none;
    overflow: visible;
}

.favorite {
    border: 2px solid gold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
